.pkg {
    quotes: '‘' '’';
}

.pkg::before {
    content: open-quote;
}

.pkg::after {
    content: close-quote;
}

pre .pkg {
    quotes: unset;
}

pre .pkg::before, pre .pkg::after {
    content: unset;
}

#box- #tldr {
    /* Fallback: this is also removed via JavaScript. */
    display: none;
}

/* Syntax highlighting ---------------------------------------------------- */

pre, pre code {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

pre {
  background-color: #f8f8f8;
  color: #333;
  padding: 9.5px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
}

pre .img {
  margin: 5px 0;
}

pre .img img {
  background-color: #fff;
  display: block;
  height: auto;
}

code a, pre a {
  color: #375f84;
}

pre code {
  padding: 0;
}

a.sourceLine:hover {
  text-decoration: none;
}

span.error   {font-weight: bolder;}
span.warning {font-weight: bolder;}

span.fu, span.fu a { color: #4758AB; }
span.co { color: #5e805e; }
span.st { color: #792020; }
span.im { color: #792020; font-style: italic; }
span.dv { color: #AD0000; }
span.va { color: #111111; }
span.op { color: #5E5E5E; }
span.cf, span.kw, span.kw a { color: #007BA5; font-weight: bold; }
span.dt { /* color: #007BA5; */ color: #20794D; }
span.cn { color: #8f5902; }
span.pp { color: #AD0000; font-style: italic; }

/* hack to hide the logo on all non-main pages */
.pkg-logo {
    display: none;
}

.pkg-logo[width="120"] {
    display: inline;
    margin-left: inherit;
    margin-top: 1.5rem !important;
    width: 120px;
}

.so-tag {
    background: #e1ecf4;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    padding: 0.3em 0.3em;
    white-space: nowrap;
}

.so-tag:hover {
    background: #d0e3f1;
}
