name: Dev build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Dev build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v1

      - name: Install external library dependencies
        run: sudo apt-get install -y libcurl4-openssl-dev

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), '.github/r-depends.rds', version = 2L)
          writeLines(sprintf('R-%i.%i', getRversion()$major, getRversion()$minor), '.github/r-version')
        shell: Rscript {0}

      - name: Cache R library
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ hashFiles('.github/r-version') }}-2-${{ hashFiles('.github/r-depends.rds') }}
          restore-keys: ${{ hashFiles('.github/r-version') }}-2-

      - name: Install R package dependencies
        run: |
          install.packages(c('remotes', 'rcmdcheck'))
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Build package
        run: |
          # Workaround for bug #1070 in roxygen2 7.1.0
          writeLines('# Generated by roxygen2: do not edit by hand', 'NAMESPACE')
          devtools::document()
        shell: Rscript {0}

      - name: Commit development build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name klmr
          git config user.email klmr@users.noreply.github.com
          git remote set-url --push origin https://klmr:$GITHUB_TOKEN@github.com/klmr/box.git
          git branch -D dev 2>/dev/null || :
          git checkout -b dev
          git add --force NAMESPACE man
          git commit -m 'Create a development release'
          git push --force --set-upstream origin dev
